#about-main {
  margin-top: 100px;
  margin-bottom: 35px;
  border: 1px solid #282424;
  border-radius: 10px;
}

#about-main p {
  font-size: 1.35rem;
  text-align: justify;
  color: #f0f2f5;
  padding: 25px 35px 15px;
}

@media only screen and (max-width: 768px) {
  #about-main {
    margin-left: 15px;
    margin-right: 15px;
  }
}
