.footer-container {
  background-color: #121212;
  padding: 20px 20px 10px 20px;
  width: 100%;
}

#footer-email,
#footer-social {
  color: #989898;
  font-size: 18px;
  margin-right: 40px;
}

#footer-mailto {
  color: #f0f2f5;
  font-size: 18px;
  text-decoration: inherit;
}

#footer-mailto:hover {
  text-decoration: underline;
}

#divider {
  color: #f0f2f5;
}

#divider {
  border: none;
  margin-left: -20px;
  margin-right: -20px;
}

#footer-firstRow,
#footer-secondRow {
  padding-top: 10px;
}

@media only screen and (max-width: 768px) {
  .footer-container {
    padding: 20px 20px 30px 20px;
  }
}
