video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
}

#github {
  margin-top: -7px;
}

.hero-container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  object-fit: contain;
}

.typewriter > h1 {
  color: #f0f2f5;
  font-size: 100px;
  margin-top: -100px;
  overflow: hidden;
  border-right: 0.15em solid #f0f2f5;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.05em;
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
  height: 125px;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #f0f2f5;
  }
}

.hero-container > p {
  margin-top: 8px;
  color: #f0f2f5;
  font-size: 32px;
}

.hero-btns {
  margin-top: 32px;
}

.hero-btns .btn {
  margin: 6px;
}

.fa-play-circle {
  margin-left: 4px;
}

@media screen and (max-width: 1084px) {
  .typewriter > h1 {
    font-size: 80px;
    margin-top: -150px;
    height: 100px;
  }
}

@media screen and (max-width: 960px) {
  .typewriter > h1 {
    font-size: 60px;
    margin-top: -150px;
    height: 80px;
  }
}

@media screen and (max-width: 768px) {
  .typewriter > h1 {
    font-size: 30px;
    margin-top: -100px;
    height: 38px;
  }

  .hero-container > p {
    font-size: 30px;
  }
}
